/* html { */
/*     background: black; */
/*     color: white */
/* } */

.org-mode-headline-contents {
  display: flex;
  flex-direction: column;
}
.org-mode-title {
  display: flex;
  flex-direction: row;
}

@media (min-width: 482px) {
  .centered-column {
  max-width: 80%;
  }
}

.centered-column {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.org-mode-current-buffer {
}

.org-mode-title-todo {
  display: flex;
  align-items: flex-start;
}

.org-mode-title-text {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-left: 5px;
  margin-right: 5px;
  align-items: flex-start;
  margin-top: 5px;
}

.org-mode-title-text div, .org-mode-title-text p, .org-mode-title-text pre {
  display: inline;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* .org-mode-title-text pre { */
/*     margin-left: 5px; */
/*     margin-right: 5px; */
/* } */

.org-mode-timestamp .org-time {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 2px;
  margin-right: 2px;
}

.org-mode-timestamp p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.org-mode-timestamp {
  display:     inline-flex !important;
  text-align: center;
  display: flex;
  font-family: monospace;
  background: #fdfaff;
  border-radius: 5px;
}

.org-mode-title-clock {
    color: #120566;
    display: flex;
    align-items: center;
    margin-left: 2px;
    margin-right: 2px;
}

.org-mode-title-clock > div {
    color: #120566;
    background: #ffffff91;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
}

.org-mode-children.org-mode-headline-childen {
  margin-left: 20pt;
}

.org-mode-headline {
  background: #cccccc73;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.org-mode-section-buttons {
  display: flex;
  flex-direction: column;
  font-size: small;
  /* float: right; */
}

.org-mode-section-fold-buttons {
  display: flex;
  justify-content: flex-end;
}

.org-mode-section-action-buttons {
  display: flex;
}

.org-mode-section-button {
  margin-left: 2px;
  margin-right: 2px;
}

.org-mode-todo-done {
  background: #574ebf;
  color: white;
}
.org-mode-todo.org-mode-todo-todo {
  background: #ff3838;
  color: white;
}
.org-mode-todo {
  padding: 5px;
  font-weight: bold;
}

.org-time {
  font-weight: lighter;
  /* font-size: small; */
  color: #333332;
}

.navigation-bar {
  display: flex;
  justify-content: space-around;
  background: #e9d4f2;
  padding-top: 5px;
  padding-bottom: 5px;
}

.buffer-list .navigation-button {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  background: #eaeaea;
  text-align: center;
  padding: 5px;
}

.navigation-button > a {
  width: 100%;
}

.buffer-list {
  display: flex;
  overflow-x: scroll;
  max-width: 95%;
  width: 100%;
}

.navigation-buttons {
  display: flex;
  align-items: center;
  width: 5%;
  justify-content: center;
}

.org-mode-tags p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
  color: #50576a;
  font-weight: lighter;
}
.org-mode-tags {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
}

.org-text-stats-cookie {
  font-weight: bold;
  color: #160c8c;
}
.org-property {
  display: none;
}
.org-mode-drawer {
  display: none;
}

.org-mode-empty-buffer {
  display: flex;
  align-items: center;
  height: 200px;
  vertical-align: center;
  justify-content: center;
}
.org-mode-empty-buffer p {
  font-size: large;
  font-weight: bolder;
  color: #4e5555;
}
.configuration-bar {
  display: flex;
}
.configuration-buttons {
  display: flex;
}
.configuration-input {
  display: flex;
  flex-grow: 1;
}
.configuration-search-bar input {
  border: none !important;
  box-shadow: none !important;
  outline: 0 !important;
  padding: 0 !important;
  padding-left: 0px;
  margin: 0 3px;
  background-color: transparent !important;
  
}
.configuration-search-bar {
  flex-grow: 1;
  display: flex;
  border: 1px solid gray;
  padding: 2px;
  margin: 0px;
  align-items: center;
}
.configuration-bar > div {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.configuration-button {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.configuration-button-active {
    background: #cddeec;
}

.configuration-search-bar-tags {
  display: flex;
}
.configuration-search-bar-tag {
  display: flex;
  background: #96ceff;
  align-items: center;
}
.configuration-search-bar-tag-button {
  padding-left: 5px;
  background: aliceblue;
  padding-right: 5px;
}
.configuration-search-bar-tag-name {
  padding-left: 5px;
  padding-right: 5px;
}
.configuration-search-bar-tag > div {
  padding-top: 2px;
  padding-bottom: 2px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.hero.main-info.loading-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.info-loading {
  font-weight: bold;
  font-size: x-large;
  margin-top: 10px;
}
.loading-panel {
  text-align: center;
  padding: 5px;
}


